<template name="Header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Exercise 3</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          {{#if currentUser}}
              <li ><a href="/play">Play<span class="sr-only">(current)</span></a></li>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Model Objects <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/scenarios">Scenarios</a></li>
                <li><a href="/npcharacter">npcharacter</a></li>
                <li><a href="/npcharacterrequest">npcharacter Request</a></li>
                <li><a href="/npcharacterresponse">npcharacter Response</a></li>
                <li><a href="/playerrequest">Player Request</a></li>
                <li><a href="/playerresponse">Player Response</a></li>
              </ul>
            </li>
          {{/if }}
        </ul>

        <ul class="nav navbar-nav navbar-right">

          {{#if currentUser}}
            <li><a href="/admin" target="_blank">Admin</a></li>
            <li><a href="/sign-out">Logout</a></li>
            {{else }}
            <li><a href="/sign-in">Login</a></li>
          {{/if }}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</template>