<template name="Home">
        <div class="jumbotron">
            <p>
              {{#with scenario}}
                {{scenarioDescription}}
              {{/with}}

                <br/>
              {{#with npCharacter}}
                {{name}}
                  <br/>
                {{npCharacterDescription}}
              {{/with}}
                <br/>
              {{#with npCharacterRequest}}
                {{speech}}
              {{/with}}



                <br/>
                <br/>
                You Answer:

            <form id="playForm">


              {{#each playerResponses}}

                  <div class="radio">
                      <label>
                          <input type="radio" name="playerResponsesRadio" value="{{objectCode}}">
                        {{title}}
                      </label>
                  </div>


              {{/each}}
                <br/>
                <button id="playerResponseButton" class="btn btn-primary">Submit</button>

            </form>


            <br/>
            <br/>

            Your Score: {{userScore}}
            Your Base: {{base}}
            </p>

        </div>
    <p>{{characterImage}}</p>
        <img src="/images/{{characterImage}}">


    </template>



