<template name="Footer">
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
&copy; 2015 Special thanks to Bootstrap for the header and footer
    </div>
  </nav>
</template>