<template name="Play">
  <div class="jumbotron">
      <img src="/images/{{characterImage}}" width="500" height="500">
      <p>
        {{#with scenario}}
            {{scenarioDescription}}

        {{/with}}

      <br/>
        {{#with npCharacter}}
          {{asksFor}}
          <br/>
          {{npCharacterDescription}}
          <br/>
        {{/with}}

          {{npCharacter.asksFor}}
      <br/>
        {{#with npCharacterRequest}}
          {{speech}}
        {{/with}}
Give me something!


      <br/>
      <br/>
      You Answer:

    <form id="playForm">

      {{#each playerResponse}}

          <div class="radio">
            <label>
              <input type="radio" name="playerResponsesRadio" value="{{isCorrectAnswer}}">
                <img src="/images/{{title}}" width="100" height="100">
            </label>
          </div>


        {{/each}}
      <br/>
      <button id="playerResponseButton" class="btn btn-primary">Submit</button>

    </form>


    <br/>
    <br/>

    Your Score: {{userScore}}
    </p>

  </div>


</template>